@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 15px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 90px 30px;
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #a3a5ae;
}

main,
header {
  max-width: 310px;
}

h1,
h2 {
  color: #4c4e61;
  line-height: 1.3;
}

header {
  margin-bottom: 80px;
}

header h1 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

header h1 span {
  font-weight: 200;
}

header p {
  text-align: center;
}

.boxes .box {
  position: relative;
  margin-bottom: 25px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
}

.boxes .box h2 {
  margin-bottom: 10px;
}

.boxes .box p {
  margin-bottom: 30px;
}

.boxes .box img {
  margin-left: calc(100% - 60px);
  width: 60px;
}

.boxes .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.boxes .box.supervisor::before {
  background-color: #45d3d3;
}

.boxes .box.team::before {
  background-color: #ea5353;
}

.boxes .box.karma::before {
  background-color: #fcaf4a;
}

.boxes .box.calculator::before {
  background-color: #549ef2;
}

@media (min-width: 1024px) {
  header {
    max-width: 500px;
    margin-bottom: 70px;
  }
  header h1 {
    font-size: 2.4rem;
    text-align: center;
  }
  main {
    max-width: 90%;
  }
  .boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .boxes .box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 350px;
  }
  .boxes-centar {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
    max-width: 350px;
  }
  .boxes-centar .box {
    margin-bottom: 30px;
  }
}
